<div class="container" style="margin-top: 100px; margin-bottom: 150px; ">
    <div class="card">
      <div class="card-header"> 
        <h1 style="color: darkgoldenrod;">Result</h1>
        <span class="bg-danger"> </span>
      </div>
      <div class="row ">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <h3>Student name : {{this._showresultService.student.FName + 
                ' ' + this._showresultService.student.LName}}</h3> <br><br>
              <p hidden>{{this._showresultService.student.LevelName}}</p>

               <select #inputCourseName (change)="this._showresultService.GetResultToCourse(inputCourseName.value)">

                <option disabled>choose course</option>
                <option *ngFor="let course of this._showresultService.courses">{{course.Name}}</option>
            </select> 

        </div> 
      </div>
    <div class="row">
      <div class="col-md-12">
      <table class="table table-hover" >
        <thead>
          <tr>
            <th>Exam Type</th>
            <th> degree</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let res of this._showresultService.results">
            <td> {{this._showresultService.GetExamName(res.ExamId)}} </td>
            <td>{{res.StudentResult}}</td>
          </tr>
        </tbody>
      </table>
      <a routerLink="/parent" type="submit" style="width: 150px;margin-top: 100px;margin-left: 350px;"
       class="btn btn-danger mb-2 ">Back To Evaluation </a>

    </div>
    </div>
    </div>
  </div>
  <br><br>

  






