<form class="py-1" [formGroup]="studentRegister">
  <div class="form-group">
    <label class="col-form-label" for="ssn"> SSN</label>
    <input formControlName="StudentSNN" type="text" class="form-control" placeholder="Enter teacher ID">
    <div
      *ngIf="studentRegister.get('StudentSNN').invalid && studentRegister.get('StudentSNN').touched"
      class="alert alert-danger">
      <div *ngIf="studentRegister.controls.StudentSNN.errors.required">required</div>
      <div *ngIf="studentRegister.controls.StudentSNN.errors.minlength"> minLength is 10 charcter</div>
      <div *ngIf="studentRegister.controls.StudentSNN.errors.pattern"> must contain numbers only</div>
    </div>

  </div>
  <div class="form-group">
    <label class="col-form-label" for="LName"> First Name</label>
    <input formControlName="LName" type="text" class="form-control" placeholder="Enter Teacher First Name">
    <div
      *ngIf="studentRegister.get('LName').invalid && studentRegister.get('LName').touched"
      class="alert alert-danger">
      <div *ngIf="studentRegister.controls.LName.errors.required">required</div>
      <div *ngIf="studentRegister.controls.LName.errors.pattern"> must be contain alphabetic only
      </div>
    </div>
  </div>



  <div class="form-group">
    <label class="col-form-label" for="FName"> Last Name</label>
    <input formControlName="FName" type="text" class="form-control" placeholder="Enter Teacher Last Name">
    <div
      *ngIf="studentRegister.get('FName').invalid && studentRegister.get('FName').touched"
      class="alert alert-danger">
      <div *ngIf="studentRegister.controls.FName.errors.required">required</div>
      <div *ngIf="studentRegister.controls.FName.errors.pattern">must be contain alphabetic only
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-form-label" for="Email"> Email</label>
    <input formControlName="Email" type="email" class="form-control" placeholder="Enter Email">
    <div
      *ngIf="studentRegister.get('Email').invalid && studentRegister.get('Email').touched"
      class="alert alert-danger">
      <div *ngIf="studentRegister.controls.Email.errors.required">required</div>
      <div *ngIf="studentRegister.controls.Email.errors.email">non valid email
      </div>
    </div>





  </div>
  <div class="form-group">
    <label class="col-form-label" for="Password"> Password</label>
    <input formControlName="Password" type="password" class="form-control" placeholder="Enter password">
    <div
      *ngIf="studentRegister.get('Password').invalid && studentRegister.get('Password').touched"
      class="alert alert-danger">
      <div *ngIf="studentRegister.controls.Password.errors.required">required</div>
      <div *ngIf="studentRegister.controls.Password.errors.minlength">min 5 charcter
      </div>
    </div>
  </div>


  <div class="form-group">
    <label class="col-form-label" for="gender">Gender</label>
    <select formControlName="Gender" class="form-control">
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select>
  </div>
  <div class="form-group">
    <label class="col-form-label" for="age"> Age</label>
    <input formControlName="Age" type="number" class="form-control" placeholder="Enter Age">
  </div>
  <div class="form-group">
    <label class="col-form-label" for="city">City</label>
    <input formControlName="City" type="text" class="form-control" placeholder=" Enter city">
  </div>
  <div class="form-group">
    <label class="col-form-label" for="street">Street</label>
    <input formControlName="Street" type="text" class="form-control" placeholder=" Enter street">
  </div>
  <div class="form-group">
    <label class="col-form-label" for="phone">Phone</label>
    <input formControlName="Phone" type="text" class="form-control" placeholder=" Enter phone">
    <div
      *ngIf="studentRegister.get('Phone').invalid && studentRegister.get('Phone').touched"
      class="alert alert-danger">
      <div *ngIf="studentRegister.controls.Phone.errors.required">required</div>
      <div *ngIf="studentRegister.controls.Phone.errors.pattern">not valid
      </div>
    </div>
  </div>
<div class="form-group">
  <label class="col-form-label" for="ParentLName"> parent First Name</label>
  <input formControlName="ParentLName" type="text" class="form-control" placeholder="Enter Teacher First Name">
  <div *ngIf="studentRegister.get('ParentLName').invalid && studentRegister.get('ParentLName').touched" class="alert alert-danger">
    <div *ngIf="studentRegister.controls.ParentLName.errors.required">required</div>
    <div *ngIf="studentRegister.controls.ParentLName.errors.pattern"> must be contain alphabetic only
    </div>
  </div>
</div>



<div class="form-group">
  <label class="col-form-label" for="FName"> parent Last Name</label>
  <input formControlName="ParentFName" type="text" class="form-control" placeholder="Enter Teacher Last Name">
  <div *ngIf="studentRegister.get('ParentFName').invalid && studentRegister.get('ParentFName').touched" class="alert alert-danger">
    <div *ngIf="studentRegister.controls.ParentFName.errors.required">required</div>
    <div *ngIf="studentRegister.controls.ParentFName.errors.pattern">must be contain alphabetic only
    </div>
  </div>
</div>

<div class="form-group">
  <label class="col-form-label" for="ssn"> SSN</label>
  <input formControlName="ParentSNN" type="text" class="form-control" placeholder="Enter teacher ID">
  <div *ngIf="studentRegister.get('ParentSNN').invalid && studentRegister.get('ParentSNN').touched"
    class="alert alert-danger">
    <div *ngIf="studentRegister.controls.ParentSNN.errors.required">required</div>
    <div *ngIf="studentRegister.controls.ParentSNN.errors.minlength"> minLength is 10 charcter</div>
    <div *ngIf="studentRegister.controls.ParentSNN.errors.pattern"> must contain numbers only</div>
  </div>

</div>


<div class="form-group">
  <label class="col-form-label">LevelName</label>
  <select #lev  (change)="this. _AdminService.GetClassByLevel(lev.value)" formControlName="LevelName" class="form-control">
    <option  value="{{item.Name}}"  *ngFor="let item of this. _AdminService.levels">{{item.Name}}</option>

  </select>

</div>

  <div class="form-group">
    <label class="col-form-label">classRoom</label>
    <select   formControlName="ClassName" class="form-control" >
      <option value="{{item.Name}}" *ngFor="let item of this. _AdminService.x">{{item.Name}}</option>
     
    </select>
   
  </div>

  
  <button (click)="registerStudent()" [disabled]="!studentRegister.valid"
    class="btn btn-primary">Add</button>
</form>