<footer class="footer-section" style="background-color:#434F65;">
  <div class="container footer-top">
      <div class="row">
          <!-- widget -->
          <!-- <div class="col-sm-4 col-lg-4 footer-widget">
              <div class="about-widget">                       
                  <div class="social pt-1">
                      <h4 style="color:darkgoldenrod;">Follow us:</h4>
                      <a href=""><i class="fa fa-twitter-square" style="color:white;"></i></a>
                      <a href=""><i class="fa fa-facebook-square" style="color:white;"></i></a>
                     
                      <a href=""><i class="fa fa-linkedin-square" style="color:white;"></i></a>
                   
                  </div>
              </div>
          </div> -->
          <!-- widget -->
          <div class="col-sm-4 col-lg-4 footer-widget">
              <h4  style="color:darkgoldenrod;" class="fw-title" >USEFUL LINK</h4>
              <div class="dobule-link">
                
                  <ul>
                      <li><a href="" style="color:white;">Policy</a></li>
                      <li><a href="" style="color:white;">Term</a></li>
                      <li><a href="" style="color:white;">Help</a></li>
                    
                  </ul>
              </div>
          </div>
         
          <div class="col-sm-44 col-lg-4 footer-widget">
              <h4 class="fw-title" style="color:darkgoldenrod;">CONTACT</h4>
              <ul class="contact">
                  <li><p style="color:white;"><i class="fa fa-map-marker" style="color:white;"></i> 40 Baria Street 133/2, NewYork City,US</p></li>
                  <li><p style="color:white;"><i class="fa fa-phone" style="color:white;"></i> (+88) 111 555 666</p></li>
                  <li><p style="color:white;"><i class="fa fa-envelope" style="color:white;"></i> infodeercreative@gmail.com</p></li>
                 
              </ul>
          </div>
      </div>
  </div>

</footer>