<div id="main-headera" class="wrapper" style="background-image: url('../assets/img/48275436_2174568189475985_1791489738868260864_n.jpg');background-size: cover;
min-height: 650px;
position: relative;">
  <div class="container">
    <div class="row">
      <div class="banner-info text-center wow fadeIn delay-05s">
          <h1 class="bnr-title" style="padding-top:250px;color: white;">
              FS is committed to offering a quality education for its students.
          </h1>
          <p style="color: white;">
              in order to enable them to think on a global scale, while being profoundly dedicated to the traditional <br />values that allow them to be proud citizens of their country,
          </p>
        <h2 class="bnr-sub-title"></h2>
        <div class="brn-btn">
        </div>
        <div class="overlay-detail">
          <a href="#feature"><i class="fa fa-angle-down"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

<br><br><br>
<section id="feature" class="section-padding wow fadeIn delay-05s">
  <div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
<br><br><br>
<br><br><br>
<br><br><br>

            <h3 class="pad-bt15" style="color:darkgoldenrod;">About us</h3>

            <p>
                SALAHADDIN FUTURE STARS LANGUAGE SCHOOL, which was launched in 2011-2012 Academic Year respond
                to the expectations of many people in Beni Suewf, Egypt, is proud to achieve trust and success.
            </p>
            <br />
            <p>

                As being used the latest technology at SALAHALDIN for the visual support, all the classrooms
                in Kindergarten and Primary sections are equipped with projectors, sound system.
                Presentation rooms <br />equipped with projectors for Student-Teacher-Parent training and seminars.
            </p>
            <p>

                Laboratories equipped with the latest technology to learn by experiments, using audio and visual drills.
                With the aim of achieving the best in artistic activities, music, art and home economic classes are designed in the best way.
            </p>
        </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="wrap-item text-center">
          <div class="item-img">
<br><br><br>
<br><br><br>

            <img src="../assets/img/HCH Landing 7.jpg" style="height:500px;">
          </div>
          <h3 class="pad-bt15"></h3>
          <p></p>
        </div>
      </div>
   
    
    </div>
  </div>
</section>
<br><br><br>
<section id="service" class="section-padding wow fadeInUp delay-05s">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">

<br><br><br>
<br><br><br>
<br><br><br>

        <h2 class="service-title pad-bt15" style="color:darkgoldenrod;">What We Do?</h2>
        <p class="sub-title pad-bt15" style="color:black;">
            The mission of SFS is to equip students with the necessary tools and essential skills vital to achieving academic excellence, <br />coupled with an awareness of civic and ethical values, to prepare them to responsibly participate in and contribute to contemporary society as informed, aware, active, and caring.
            .
        </p>
        <hr class="bottom-line">
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="service-item">
          <h3 style="color:darkgoldenrod;"><span>D</span>esign And Developement</h3>
          <p  style="color:black;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        
        </div>
      </div>
<br><br><br>

      <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="service-item">
              <h3 style="color:darkgoldenrod;"><span>W</span>ebsite Maintenance</h3>
              <p style="color:black;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="service-item">
          <h3 style="color:darkgoldenrod;"><span>S</span>eo Optimization</h3>
          <p style="color:black;" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="service-item">
          <h3 style="color:darkgoldenrod;"><span>D</span>igital Marketing</h3>
          <p style="color:black;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<br><br><br>


 <!-- <section id="gallery" class="section-padding wow fadeInUp delay-05s" style=" margin-left: 70px;"> 
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <img src="../assets/img/091115_FAA-631[1].jpg" class="image" style="width: 250px;height:200px; " >
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <img src="../assets/img/playful-children.jpg" class="image"  style="width: 250px;height:200px;">
      
      </div>


      <div class="col-md-4 col-sm-6 col-xs-12">
        <img src="../assets/img/Capture1.PNG " class="image"  style="width: 250px;height:200px;">
         
      </div>
      
    </div><br><br>

    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">      
      <img src="../assets/img/HCH Landing 7.jpg" class="image"  style="width: 250px;height:200px;">


      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <img src="../assets/img/xM3gP1zrpP-1043.jpg_730x470.jpg" class="image"  style="width: 250px;height:200px;">
      
      </div>


      <div class="col-md-4 col-sm-6 col-xs-12">
        <img src="../assets/img/parents_file_759.jpg" class="image"  style="width: 250px;height:200px;">        
      </div>
     
    </div>
  </div>
</section><br><br><br> --> -->



  