
<div class="container" style="margin-top: 100px;">
<div class="row">
<h1 style="color:steelblue;">Show Data</h1><br><br>
  <div class="col-sm-4">
    <div class="card">
      <img src="../assets/img/026_033_interior_stairs_floor_stage_level-512.png" style="width: 200px; height: 200px;">
      <div class="card-body">
       <br><br>
       <a routerLink="/showlevel" type="button" class="btn btn-warning" style="margin-left: 40px;"><h3>Show Levels</h3></a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
        <img src="../assets/img/images (1).png" style="width: 200px; height: 200px;">
      <div class="card-body">
        <br><br>
           <a routerLink="/showcourse" type="button" class="btn btn-warning"><h3>Show Courses</h3></a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
      <div class="card">
          <img src="../assets/img/S1120132411231.jpg" style="width: 200px; height: 200px;">
        <div class="card-body">
          <br><br>
<a routerLink="/showclass" type="button" class="btn btn-warning" style="margin-left: 50px"><h3>Show Classes</h3></a>          

        </div>
      </div>
    </div>
  </div>
  <br><br><br>
  <div class="row">
      <div class="col-sm-4">
          <div class="card">
              <img src="../assets/img/download (1).png" style="width: 200px; height: 200px;">
            <div class="card-body">
              <br><br>
         <a routerLink="/showstudent" type="button" class="btn btn-warning" style="margin-left: 30px"><h3>Show Student</h3></a>    
            </div>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img src="../assets/img/download (1).jpg" style="width: 200px; height: 200px;">
              <div class="card-body">
                <br><br>
           <a routerLink="/showstaff" type="button" class="btn btn-warning" style="margin-left: 50px"><h3>Show Staff</h3></a>      
              </div>
            </div>
          </div>
  </div>

</div>
<br><br>
