<!-- <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
 
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Light mask</h3>
        <p>First text</p>
      </div>
    </mdb-carousel-item>

    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
        <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Strong mask</h3>
        <p>Secondary text</p>
      </div>
    </mdb-carousel-item>
  
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Slight mask</h3>
        <p>Third text</p>
      </div>
    </mdb-carousel-item>

  </mdb-carousel>  -->

<section id="gallery" class="section-padding wow fadeInUp delay-05s" style=" margin-left: 70px; margin-top: 100px;"> 
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <img src="../assets/img/091115_FAA-631[1].jpg" class="image" style="width: 250px;height:200px; " >
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <img src="../assets/img/playful-children.jpg" class="image"  style="width: 250px;height:200px;">
      
      </div>


      <div class="col-md-4 col-sm-6 col-xs-12">
        <img src="../assets/img/Capture1.PNG " class="image"  style="width: 250px;height:200px;">
         
      </div>
      
    </div><br><br>

    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">      
      <img src="../assets/img/HCH Landing 7.jpg" class="image"  style="width: 250px;height:200px;">


      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <img src="../assets/img/xM3gP1zrpP-1043.jpg_730x470.jpg" class="image"  style="width: 250px;height:200px;">
      
      </div>


      <div class="col-md-4 col-sm-6 col-xs-12">
        <img src="../assets/img/parents_file_759.jpg" class="image"  style="width: 250px;height:200px;">        
      </div>
     
    </div>
  </div>
</section><br><br><br> 